@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(127, 127, 127);
    border-radius: 20%;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.menu_1 {
    display: flex;
    /* border: 1px solid black; */
    margin-top: 50px;
    flex-direction: row;
}

.menu_2 {
    display: flex;
    /* border: 1px solid black; */
    margin-top: 50px;
    flex-direction: row;
}

.pratos {
    flex: 50%;
    border: 1px solid black;
    font-size: 20px;
    line-height: 30px;
    /* color: rgb(3, 179, 3); */
    color: rgb(204, 47, 26);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagem {
    flex: 50%;
    border: 1px solid black;
}