* {
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 150px;
    align-items: center;
    background: rgb(223, 223, 223);
}

.logo_final {
    font-size: 14px;
    line-height: 5px;
    margin-top: 5px;
    color: green;
    font-family: 'Lobster', cursive;
}

.link_redes img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

b {
    margin-bottom: 5px;
}