* {
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 150px;
    align-items: center;
}

.link_redes img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

b {
    margin-bottom: 5px;
}